/****** GENERALS STYLES ******/
* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.clearfix{
  float: none;
  clear: both;
}


/******  BODY ******/

body {
  background-color: #ccc;
  font-family: 'BioRhyme', sans-serif, helvetica;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 1px;
  color: black;
}

/******  HEADER ******/

.main-header {
  background: gray;
  display: inline-block;
  height: 110px;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.main-header a img {
  display: block;
  width: 90px;
  height: 90px;
  padding: 10px;
  float: left;
}

.main-header h1{
  float: left;
  margin-left: 20px;
}

h1 {
  font-family: 'BioRhyme', sans-serif, helvetica;
  font-size: 35px;
  font-weight: 700;
}

/******  DROP-DOWN POKEMON LIST ******/

.button-list {
  margin: 5px 23px;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  border: 3px solid gray;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.2);
  min-width: 350px;
  min-height: 50px;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1.6px;
}

.button-list:hover {
  border: 3px solid gray;
  background-color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.button-list:active {
  border: 3px solid gray;
  box-shadow: inset 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#pokemon-list {

}
