* {
  text-decoration: none;
  margin: 0px auto;
  padding: 0px auto;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: 'BioRhyme', sans-serif, helvetica;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 1px;
  color: black;
}

.clearfix{
  float: none;
  clear: both;
}

.main-header {
  background: gray;
  display: inline-block;
  height: 110px;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.main-header a img {
  display: block;
  width: 90px;
  height: 90px;
  padding: 10px;
  float: left;
}

.main-header h1{
  float: left;
  margin-left: 20px;
}

h1 {
  font-family: 'BioRhyme', sans-serif, helvetica;
  font-size: 35px;
  font-weight: 700;
}

p {
  margin-left: 30px;
  font-weight: bold;
}

#pokemon-list {
  display: none;
}
