/****** GENERALS STYLES ******/
* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
  text-align: center;
}

.clearfix{
  float: none;
  clear: both;
}

/******  BODY ******/

body {
  background-color: #fff;
  font-family: 'BioRhyme', sans-serif, helvetica;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 1px;
  color: black;
  /* background-image: url("../img/pattern.png");
  background-repeat: repeat; */
}

/******  HEADER ******/

.main-header {
  background: rgba(234, 47,	48, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 4px 5px rgba(234, 47,	48, 0.8), 0px 0px 5px 5px rgba(234, 47,	48, 0.8);;
}

.main-header a img {
  width: 110px;
  height: 110px;
  padding: 10px;
}

.main-header h1{
  margin-left: 20px;
  font-family: 'BioRhyme', sans-serif, helvetica;
  font-size: 45px;
  font-weight: 700;
}

/******  DROP-DOWN POKEMON LIST ******/

.pokedex-drop-down {
  margin-bottom: 23px;
}

.button-list {
  margin: 5px 0px;
  padding: 10px;
  display: inline-block;
  min-width: 30%;
  min-height: 50px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.6px;
  background-color: #ccc;
  border: 3px solid gray;
  border-radius: 3px;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  border: none;
}

.button-list:hover {
  /* border: 3px solid gray; */
  background-color: white;
  box-shadow: inset 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.button-list:active {
  border: 3px solid gray;
  box-shadow: inset 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/****** MODAL OF POKEMON LIST ******/

#modal-container {
  position: block;
  padding: 20px;
  /* box-sizing: border-box; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
  /* display: none; */
}

.modal {
  margin: auto;
  display:  inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  margin-top: 10%;
  width: 100%;
  max-width: 700px;
  text-align: center;
  overflow: hidden;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
  margin-left: 8%;
  text-align: center;
  color: Black;
    font-size: 40px;
}

.modal h1:first-letter {
  text-transform: uppercase;

}

.modal p {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 23px;
}

.modal > img {
  text-align: center;
  width: 250px;
  height: 250px;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
  font-size: 16px;
}

@media (max-width: 625px){
  .button-list {
    width: 70%;
    min-width: inherit;
  }
}

@media (max-width: 425px){
  .button-list {
    width: 70%;
    min-width: inherit;
  }
}

@media (max-width: 375px){
  .button-list {
    width: 70%;
    min-width: inherit;
  }

  .main-header h1 {
    margin-left: 10px;
    font-size: 30px;
  }

  .main-header a img {
    width: 100px;
    height: 100px;
  }

  .modal h1 {
    font-size: 28px;
  }
}
