.gitignore
.eslintignore
.eslintrc.yml
.prettierignore
.prettierrc
.atom-live-server.json

img/

/js/stylelint.config.js
/js/tota11y.min.js
/js/promise-polyfill.js
/js/fetch-polyfill.js
/css/normalize.css

_config.yml
package.json

node_modules
npm-debug.log
.nyc_output
coverage
.opt-in
.opt-out
yarn-error.log
